$primary-color: #007bff; // 主要顏色，用於按鈕背景色
$secondary-color: #0056b3; // 次要顏色，用於按鈕懸停時的背景色
$text-color: #333; // 文字顏色，用於整個網站的文字
$font-size-medium: 16px; // 中等字體大小，用於輸入框和按鈕
$font-size-large: 20px; // 較大字體大小，用於顯示區域

/* 
   樣式定義 
   這裡是樣式表的實際定義部分，使用上面定義的變數來設置樣式
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* 背景色 */
    color: $text-color; /* 使用文字顏色變數 */

    #app_mess {
        
        margin-top: 100px;

        input[type="text"] {
            padding: 8px;
            font-size: $font-size-medium; /* 使用字體大小變數 */
            margin-right: 10px;
        }

        button {
            &:hover {
                background-color: $secondary-color; /* 使用次要顏色變數 */
            }
        }

        #txt {
            margin-top: 20px;
            text-align: center;
            font-size: $font-size-large; /* 使用較大字體大小變數 */
        }
        
        .navigation-links {
            display: flex;
            justify-content: center;
        
            .nav-link {
                margin: 0 10px;
                padding: 5px 10px;
                text-decoration: none;
                color: #333;
                border: 1px solid #ccc;
                border-radius: 5px;
                transition: background-color 0.3s ease;
        
                &:hover {
                    background-color: #fdbcbc;
                }
            }
        }
    }
}