$primary-color: #3d0e0e; // 主要顏色，用於按鈕背景色
$secondary-color: #b33300; // 次要顏色，用於按鈕懸停時的背景色
$text-color: #333; // 文字顏色，用於整個網站的文字
$font-size-medium: 16px; // 中等字體大小，用於輸入框和按鈕
$font-size-large: 20px; // 較大字體大小，用於顯示區域

/* 
   樣式定義 
   這裡是樣式表的實際定義部分，使用上面定義的變數來設置樣式
*/

body {
    font-family: Arial, sans-serif;
    #app_mess {

        button {
            background-color: $primary-color;

            &:hover {
                background-color: $secondary-color; /* 使用次要顏色變數 */
            }
        }

    }
}